.employee-dialog {
  position: relative;
  display: flex;
  padding: 0 2rem;
  gap: 1rem;
  min-height: 400px;
  z-index: 9999;
  animation: fadeIn 0.3s ease-out forwards;
  background: rgba(0, 0, 0, 0.2);
}

.employee-dialog:not(.editing) {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0;
}

.employee-details {
  flex: 1;
  text-align: center;
  background: transparent;
  padding: 1.5rem 0 0.5rem;
}

.detail-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 8px 0;
  text-align: left;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 0px;
  margin: 0;
  padding: 0;
  max-width: 48px;
}

h2 {
  margin: 16px 0;
}

button {
  border: none;
  box-shadow: none;
  width: 3rem;
  color: white;
}

.nav-button.prev:hover .button-icon {
  transform: translateX(-10px);
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.nav-button.next:hover .button-icon {
  transform: translateX(10px);
  transition: ease-in-out;
  transition-duration: 0.2s;
}

button:hover {
  transition: linear;
  transition-duration: 0.2s;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.employee-details-header {
  display: flex;
  gap: 1rem;
}

.employee-details-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.employee-details h2 {
  padding: 0;
  margin: 0;
  font-weight: 800;
  font-size: 2.5rem;
}

.employee-details-title p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.edit-button {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
}

.details-grid {
  padding: 2rem 0;
  display: grid;
  row-gap: 1rem;
  font-size: 1.25rem;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  align-items: center;
  justify-content: start;
}

.edit-mode {
  height: 100%;
  width: 100%;
}

.edit-mode:not(.hidden) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: 1rem;
}

.mat-mdc-raised-button {
  border-radius: 0.75rem;
  width: 9rem;
  height: 2rem;
}
